<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shops</title>
</head>
<body>
    <h1>Shops</h1>
    <table>
        <tr>
        <th>Name:</th>
        <th>Rating:</th>
        </tr>
    {{#each shops}}
    <tr>
        <td>
        <a href="">
            {{name}}
        </a>
        </td>
        <td>
        <a>
            {{rating}}
        </a>
        </td>
    </tr>
    {{/each}}
    </table>
   <br>
    <a href="/">Back to all shops</a>

    
    

</body>
</html>